html {
    height : 100%;
}
a {
    color: #cccccc;
    text-decoration: none;
}
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden
}

#wrapper {
    display: flex;
    flex-flow: column;
    min-height: 100%;
    align-items: stretch;
}
#header {
    text-align: center;
    background: #999999;
    padding: 10px;
}
#content {
    display: flex;
    flex: auto;
}
#footer {
    display: flex;


}
#usersBox {
    background: #006666;
    color: #cccccc;
    flex: 1;
    padding: 5px;
}
#messagesBox {
    background: #004444;
    color: #cccccc;
    flex: 3;
    overflow: auto;
}
.header {
    font-size: 18px;
    padding-bottom: 5px;
}
#usersBox a {
    color: #cccccc;
    text-decoration: none;
}
#usersBox a:hover {
    text-decoration: underline;
    color: #bbbbbb;
}
#usersBox ul li, #messagesBox ul li {
    list-style-type: none;
}
#usersBox h3 {
    text-align: center;
    border-bottom: 1px solid #bbbbbb;
}
/* input stuff */
#toBox {
    flex: 1;
}
.messageInput {
    flex: 3;
    display: flex;
}
#messageBox {
    flex: auto;
}
input[type=text], input[type=password] {
    padding: 5px;
    background: #dddddd;
    border: 0;
    border-right: 2px solid black;
}
